# providing domain name to our platform and routing traffic that comes on this domain to our server
stresstester.ddns.net {
    # sending all traffic to our node js server
    reverse_proxy backend:3000
}